

<div class="row mt-3">
    <div class="col-12 text-center">
        <button 
        routerLink="/products"
        mat-raised-button color="primary">Go To Product</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <button 
        routerLink="/users"
        mat-raised-button color="primary">Go To User</button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 text-center">
        <button 
        routerLink="/fairs"
        mat-raised-button color="primary">Go To Fairs</button>
    </div>
</div>