

<main class="main-auth">
    <ng-container *ngIf="!allReadyHasAccount">
        <div class="card">
            <div class="card-body">
                <h3 class="font-weight-bold">Sign up</h3>
                <form [formGroup]="SignUpForm" class="mb-2" (ngSubmit)="onSingup()">
                     <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="text" formControlName="email" class="form-control">
                     </div>
                     <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="text" formControlName="password" class="form-control">
                     </div>
                     <div class="form-group">
                        <label for="userRoal">UserRoal*</label>
                        <select formControlName="userRole" class="form-control">
                            <option value="buyer">Buyer</option>
                            <option value="admin">Admin</option>
                            <option value="superadmin">SuperAdmin</option>
                        </select>
                     </div>
                     <button mat-raised-button color="primary" class="w-100">Sign Up</button>
                </form>
                <a href="javascript:;" (click)="allReadyHasAccount = true">Already have Account</a>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="allReadyHasAccount">
        
         <div class="card">
            <div class="card-body">
                <h2 class="font-weight-bold">Log In</h2>
                   <form [formGroup]="loginForm" class="mb-2" (ngSubmit)="onlogin()">
                     <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="text" formControlName="email" class="form-control">
                     </div>
                     <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="text" formControlName="password" class="form-control">
                     </div>
                     <button mat-raised-button color="primary" class="w-100">Log In</button>

                   </form>


                <a href="javascript:;" (click)="allReadyHasAccount = false">Don't have Account</a>

            </div>
        </div>
    </ng-container>

</main>