

.main-auth{
    position: fixed;
    background-image: linear-gradient(90deg,#18765b 0%, #156e72 100%);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{


    .ng-touched.ng-invalid,
    .ng-dirty.ng-invalid {
        border: 2px solid red;
    }

}