
<div class="row">
    <div class="col-12 text-right">
        <button
        routerLink="addproduct"
         class="btn btn-outline-primary">Add Products</button>
    </div>

    <div class="col-md-4">
        <ul class="list-group">
          <li
          routerLinkActive="active"
            [routerLink]="[prod.pid]"
             class="list-group-item" *ngFor="let prod of productsarry"
             
             
             >
                 {{prod.pname}}     
                 <small class="badge" [ngClass]="{
                'badge-primary' :prod.pstatus === 'Dispatched',
                'badge-success' :prod.pstatus === 'Delivered',
                'badge-warning' :prod.pstatus === 'In-Progress'

             }">
                    {{prod.pstatus}}

                 </small>
            </li>

            <!-- <li
            [routerLink]="['/products',prod.pid]"
             class="list-group-item" *ngFor="let prod of productsarry">
                 {{prod.pname}}      {{prod.pid}}
            </li> -->
        </ul>
    </div>
    <div class="col-md-8">
        <router-outlet> </router-outlet>
    </div>
</div>